body {
    background: #ebf0f7;
}

.task-view {
    display: flex;
}

.task-tag {
    color: #ff0000;
}

.title-task {
    padding-left: 10px;
}

.task-column {
    min-height: 165px;
    padding: 10px;
    margin-right: 20px;
    border-radius: 10px;
    border: solid 2px #4cff00;
}

.task-info {
    /*min-width:250px;*/
    padding: 10px;
    margin-bottom: 10px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    border-radius: 10px;
    cursor: move;
}

.task-info.dragging {
    opacity: .5;
}