<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/js/drop.js" defer></script>
</head>
<body>
    <div class="main">
        <div class="header">
            <h1>Homepage Design</h1>
        </div>

        <div class="task-view">
            <div class="task-ready col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="title-task">
                    <h4>Task Ready</h4>
                </div>
                <div class="task-column">
                    <div class="task-info" draggable="true">
                        <div class="task-tag">
                            <p>Copywriting</p>
                        </div>
                        <div class="description-task">
                            <p>new job kk</p>
                        </div>
                        <div class="date-task">
                            <p>27/08/2022</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="task-progress col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="title-task">
                    <h4>In Progress</h4>
                </div>
                <div class="task-column">
                    <div class="task-info" draggable="true">
                        <div class="task-tag">
                            <p>link</p>
                        </div>
                        <div class="description-task">
                            <p>heeeeeeeeeeeeheheh</p>
                        </div>
                        <div class="date-task">
                            <p>11/08/2022</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="task-need-review col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="title-task">
                    <h4>Needs Review</h4>
                </div>
                <div class="task-column">
                    <div class="task-info" draggable="true">
                        <div class="task-tag">
                            <p>Copywriting</p>
                        </div>
                        <div class="description-task">
                            <p>You can try</p>
                        </div>
                        <div class="date-task">
                            <p>2/02/2022</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="task-done col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="title-task">
                    <h4>Done</h4>
                </div>
                <div class="task-column">
                    <div class="task-info" draggable="true">
                        <div class="task-tag">
                            <p>hmm</p>
                        </div>
                        <div class="description-task">
                            <p>Nothing</p>
                        </div>
                        <div class="date-task">
                            <p>17/09/2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="task-progress">
            <div class="progress-bar">

            </div>
        </div>
    </div>
</body>

</html> 